<!DOCTYPE html>
<html>
  <head>
    <title>Audiophile</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'app-bundle' %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
